<button class="back-btn-glass" (click)="back()">
  <span>←</span>
</button>
<div class="page-container">

  <div class="page-header">
    <h2>Registered Users</h2>
  </div>

  <div class="users-grid">

    @for (user of users; track user) {
      <div class="user-card">

        <div class="user-main">
          <h3>{{ user.name }}</h3>
          <span class="role">{{ user.roleId.role }}</span>
        </div>

        <div class="user-details">
          <p>{{ user.email }}</p>
          <p>{{ user.phone }}</p>
        </div>

        <div class="user-address">
          Block {{ user.address.blockNo }}, Flat {{ user.address.flatNo }}
        </div>

      </div>
    }

  </div>

</div>