<div class="password-container">

    <form class="password-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

        <h2>Change Password</h2>

        <!-- Old Password -->
        <div class="form-group">
            <label>Old Password</label>
            <input type="password" placeholder="Enter old password" formControlName="oldPass" />
            <small *ngIf="oldPass?.touched && oldPass?.invalid ">
                Enter a valid password
            </small>
        </div>

        <!-- New Password -->
        <div class="form-group">
            <label>New Password</label>
            <input type="password" placeholder="Enter new password" formControlName="newPass" />
            <small *ngIf="newPass?.touched && newPass?.invalid">
                Enter a valid password
            </small>
        </div>

        <!-- Confirm Password -->
        <div class="form-group">
            <label>Confirm New Password</label>
            <input type="password" placeholder="Re-enter new password" formControlName="confirmNewPass" />
            <small *ngIf="confirmNewPass?.touched && confirmNewPass?.invalid">
                Enter a valid password
            </small>
        </div>

        <!-- Button -->
        <button type="submit" [disabled]="changePasswordForm    .invalid">Update Password</button>

    </form>

</div>