<div class="password-container">

    <form class="password-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

        <h2>Change Password</h2>

        <div class="form-group">
            <label>Old Password</label>
            <input type="password" placeholder="Enter old password" formControlName="oldPass" />
            <small *ngIf="oldPass?.touched && oldPass?.invalid">
                Enter a valid password
            </small>
        </div>

        <div class="form-group">
            <label>New Password</label>
            <input type="password" placeholder="Enter new password" formControlName="newPass" />
            <small *ngIf="newPass?.touched && newPass?.invalid">
                Enter a valid password
            </small>
        </div>

        <div class="form-group">
            <label>Confirm New Password</label>
            <input type="password" placeholder="Re-enter new password" formControlName="confirmNewPass" />
            <small *ngIf="confirmNewPass?.touched && confirmNewPass?.invalid">
                Enter a valid password
            </small>
        </div>

        <button type="submit" [disabled]="changePasswordForm.invalid">Update Password</button>

    </form>

</div>



<div class="overlay" *ngIf="showConfirm">
  <div class="confirm-box">

    <h1>{{ title }}</h1>
    <div class="actions">
      <button class="cancel" (click)="onCancel()">Logout</button>
      <button class="confirm" (click)="onConfirm()">Okay</button>
    </div>

  </div>
</div>