<body>    
<div class="booking-container">
  <form [formGroup]="bookingForm" (ngSubmit)="beforeSubmit()" class="booking-form">

    <h2>Book Amenity</h2>

    <div class="form-group">
      <label>Amenity Name</label>
      <input type="text" disabled value={{amenityName.name}}/>
    </div>


    <div class="form-group">
      <label>Date</label>
      <input type="date" formControlName="date" />
      <small *ngIf="date?.touched && date?.invalid">
        Date is required
      </small>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Start Time</label>
        <input type="time" formControlName="startTime" />
        <small *ngIf="startTime?.touched && startTime?.invalid">
          Required
        </small>
      </div>

      <div class="form-group">
        <label>End Time</label>
        <input type="time" formControlName="endTime" />
        <small *ngIf="endTime?.touched && endTime?.invalid">
          Required
        </small>
      </div>
    </div>

    <button type="submit" [disabled]="bookingForm.invalid">
      Confirm Booking
    </button>

  </form>
</div>

</body>

<div class="overlay" *ngIf="showConfirm">
  <div class="confirm-box">

    <h3>{{ title }}</h3>
    <p>{{ time }}</p>
    <p>{{ amount }}</p>

    <div class="actions">
      <button class="cancel" (click)="onCancel()">Cancel</button>
      <button class="confirm" (click)="onConfirm()">Confirm</button>
    </div>

  </div>
</div>